p {
    margin-top: 10px;
    margin-bottom: 16px;
}

a {
    color: blue;
    visited: blue
}


h1, h2, h3, h4 {
  color: black;
}


.container {
	align: center;
	width: 800px;
	margin: 0 auto;
	font-family:Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 1.15;
	text-align: justify
}


code {
    /* font-size: 14px; */
    font-family: Menlo; Cascadia Code
	       
}


.blank_row {
    height: 20px !important; 
    background-color: #FFFFFF;
}

.table-padded td {
	vertical-align: top;
    padding-bottom: 10px
}

.table-tight td{
    vertical-align: top;
    padding-bottom: 0px
}

ul {
    margin: 0px;
    padding-left: 15px;
}

li {
    padding-bottom: 6px;
}
.padded-list {
    margin-top: 16px;
    padding-left: 40px;
    padding-bottom: 0px;
}

.padded-list li {
    padding-bottom: 0px;
}

pre {
  #display: block;
  padding: 9.5px;
  margin: 5px 0 10px;
  font-size: 14px;
  line-height: 1.2;
  color: #111;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fffcfb;
  border: 1px solid #ccc;
  border-radius: 4px;
}
